{{ define "title" }}Главная — ctf01d training platform{{ end }}

{{ define "content" }}
<div class="container spa-web-page" id="root_page">
  <br>
  <div class="card">
    <div class="card-header">
      <strong class="card-title" translate="Добро пожаловать на тренировочную площадку ctf01d!">Welcome to ctf01d training platform!</strong>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p translate="Этот сервис может подготовить учебную игру 'атака-защита' на основе системы жюри ctf01d.">This service can prepare training attack-defense game, based on ctf01d jury system</p>
        <p>Github: <a href="https://github.com/sea-kg/ctf01d-training-platform">https://github.com/sea-kg/ctf01d-training-platform</a></p>
      </div>
    </div>
  </div>
  <br>
</div>
{{ end }}